<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor quis risus sed lobortis. Curabitur vitae ornare massa. Sed eu aliquam arcu. Fusce porttitor risus a diam lacinia, vel tempus sapien tincidunt. Etiam semper sagittis ipsum, a hendrerit lectus cursus a. Praesent id tristique tortor. Donec elementum aliquet ligula, id blandit diam pellentesque vel. Fusce dignissim volutpat tristique. Nullam eu nisl in sem aliquet hendrerit. Nulla nec erat maximus ante scelerisque euismod. Sed accumsan, eros id efficitur luctus, lorem eros gravida justo, id euismod tellus justo eu felis. Etiam dignissim laoreet sagittis.

Quisque at aliquam lorem. Nam non nisi quis libero viverra rutrum ut quis enim. Vivamus sodales arcu blandit tortor scelerisque ultrices. Duis tincidunt elementum tortor dapibus tristique. Quisque eleifend orci tellus, ac finibus ligula egestas ut. Quisque lacinia, diam et finibus luctus, purus nisi efficitur diam, sed finibus risus turpis non tellus. Etiam ornare justo eros, eget tempor lectus convallis non. Quisque vestibulum turpis ut leo egestas, ac placerat purus elementum. Cras libero nibh, luctus ac placerat quis, viverra in ligula. Integer id interdum est. Mauris sodales accumsan diam quis semper. Maecenas vel gravida nisi. Nulla varius sollicitudin sapien, quis condimentum turpis aliquam ornare.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>