<mat-card class="newsItem" *ngIf="newsInput">
    <mat-card-header>
        <div class='header'>

      <div>
      <mat-card-title>{{newsInput.title}}</mat-card-title>
      <mat-card-subtitle>News source: <a href={{newsInput.url}}>{{newsInput.url}}</a></mat-card-subtitle>
      <mat-card-subtitle>News data: {{newsInput.publishDate | date:'medium'}}</mat-card-subtitle>
    </div>
    <div class = "Ratings">
    <div class="Authenticity"> Authenticity: <b>{{newsInput.veracityAI}}</b></div>
    <div class="Sentiment">Sentiment: <b>{{newsInput.veracityUser}}</b></div>
    </div>
    </div>
    <div class="Thumbs">
      <div><span class="material-icons">
        thumb_up
        </span></div>
        <div> <span class="material-icons">
          thumb_down
        </span></div>
    </div>

  </mat-card-header>
    <mat-card-content>
      <p>
        {{newsInput.description}}    
    </p>
    </mat-card-content>
  </mat-card>