<span class="fk-list-container">
    <mat-chip-list class="chips">
        <mat-chip class="fk-keyword-chip" color="accent" selected >Politics</mat-chip>
        <mat-chip class="fk-keyword-chip" color="accent" selected >COVID19</mat-chip>
        <mat-chip class="fk-keyword-chip" color="accent" selected >Programming</mat-chip>
        <mat-chip class="fk-keyword-chip" color="accent" selected >Gaming</mat-chip>
        <mat-chip class="fk-keyword-chip" color="accent" selected >Business</mat-chip>
        <mat-chip class="fk-keyword-chip" color="accent" selected >Science</mat-chip>
        <mat-chip class="fk-keyword-chip" color="accent" selected >Entertainment</mat-chip>
      </mat-chip-list>
    <app-news-list-item *ngFor="let item of news"></app-news-list-item>
    <mat-spinner class="chips" *ngIf="loading"></mat-spinner>

</span>
<div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="3"
      [infiniteScrollThrottle]="30"
      (scrolled)="onScroll()"
    ></div>