.fk-list-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 5vh;
    width: 75vw;
    margin-top: 2vh;
}
.mat-standard-chip{
    min-height: 23px;
}
app-news-list-item{
    margin:1vh;
}
.chips{
    align-self: center;
    margin: 1vh;
}
